<!--User type-->

<!-- <div *ngIf="page == 'user-type'">
  <h6 class="text-primary mb-3">{{"Which category describes you best" | translate}}</h6>
  <div class="form-check mb-2">
    <input
      class="form-check-input"
      type="radio"
      name="user-type"
      checked
      (click)="whoAm('civil')"
      id="user-type-civil"
    />
    <label class="form-check-label" for="user-type-civil"> {{"Civilians" | translate}} </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="user-type"
      (click)="whoAm('militaire')"
      id="user-type-militaire"
    />
    <label class="form-check-label" for="user-type-militaire">
      {{"Military" | translate}}
    </label>
  </div>
  <p class="mt-3">
    <button class="btn btn-primary w-100" (click)="gotoPage('todo-action')">
      {{"Next" | translate}}
    </button>
  </p>
</div> -->
<!--What to do-->
<div *ngIf="page == 'todo-action'" class="todo-action">
  <h6 class="text-primary mb-3">Que voulez-vous faire ?</h6>
  <!--Inscription-->
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="todo"
        (click)="whatToDo('inscription', 'code-conduite')"
        id="doto-inscription"
      />
      <label class="form-check-label" for="doto-inscription">
        Pré-inscription
      </label>
    </div>
    <p class="text-small">
      Passer une nouvelle catégorie de permis
    </p>
  </div>
  <!--Inscription à l’épreuve de la conduite-->
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="todo"
        [disabled]="!user?.has_dossier_permis || dossier_session?.resultat_conduite!=='failed'"
        (click)="whatToDo('inscription-conduite', 'conduite')"
        id="doto-inscription-conduite"
      />
      <label class="form-check-label" for="doto-inscription-conduite">
        {{"Registration for the driving test" | translate}}
      </label>
    </div>
    <p class="text-small">
      {{"I passed the written exam and failed the driving test" | translate}}
    </p>
  </div>
  <!--Demande de composition à la conduite-->
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="todo"
        [disabled]="!user?.has_dossier_permis || dossier_session?.presence_conduite!=='absent'"
        (click)="whatToDo('composition-conduite', 'conduite')"
        id="doto-composition-conduite"
      />
      <label class="form-check-label" for="doto-composition-conduite">
        {{"Demand for composition on driving" | translate}}
      </label>
    </div>
    <p class="text-small">{{"I was absent for the driving test" | translate}}</p>
  </div>
  <!--Demande de composition au code-->
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="todo"
        (click)="whatToDo('composition-code', 'code-conduite')"
        [disabled]="!user?.has_dossier_permis || dossier_session?.presence!=='absent'"
        id="doto-composition-code"
      />
      <label class="form-check-label" for="doto-composition-code">
        {{"Code composition request" | translate}}
      </label>
    </div>
    <p class="text-small">{{"I was absent for the coding exam" | translate}}</p>
  </div>
  <div class="mt-3">
    <button class="btn btn-primary w-100" (click)="gotoPage('prepare-my-self')" [disabled]="!isTodoSelected">
      {{"Next" | translate}}
    </button>
  </div>
</div>
<!--Prepare my self-->
<div *ngIf="page == 'prepare-my-self'">
  <div *ngIf="selectedTodo == 'inscription'">
    <h6 class="text-primary mb-3">
      {{"Before starting the process, please have the following items ready" | translate}} :
    </h6>
    <ol>
      <li>
        {{"A scanned copy of your ID card, biometric identity card, or passport" | translate}}
      </li>
      <li>{{"A scanned copy of your medical examination record" | translate}}</li>
      <li>{{"A scanned copy of your blood typing test" | translate}}</li>
      <li>
        {{"The names and contacts of the doctors who conducted your medical examination and blood grouping test" | translate}}
      </li>
      <!-- <li>
        {{"The sum of XX,000 CFA Francs to a MoMo or Moov Money account or for payment of examination registration fees" | translate}}
      </li> -->
    </ol>
    <p class="text-danger mt-3 text-small">
      {{"If the attachments in your folder are blurry, it will be rejected" | translate}}
    </p>
  </div>

  <!--Selected reinscription-->
  <div *ngIf="selectedTodo == 'reinscription'">
    <h6 class="text-primary mb-3">
      {{"Before starting the process, please have the following items ready" | translate}} :
    </h6>
    <ol>
      <li>{{"A scanned copy of your medical examination record" | translate}}</li>
      <li>
        {{"The name and contact information of the doctor who conducted your medical examination" | translate}}
      </li>
      <!-- <li>
        {{"The amount of XX,000 FCFA on a MoMo or Moov Money account or for payment of registration fees for the exam" | translate}}
      </li> -->
    </ol>
    <p class="text-danger mt-3 text-small">
      {{"If the attachments in your folder are blurry, it will be rejected" | translate}}
    </p>
  </div>

  <div *ngIf="selectedTodo == 'composition-conduite'">
    <h6 class="my-4">
      Votre absence à l'épreuve de conduite, session de {{dossier_session?.examen?.mois}} {{dossier_session?.examen?.annee}} n'a pas été justifiée. Vous êtes donc assujettie à nouveau
      au paiement des frais de dossier.
    </h6>

    <p class="my-3">
      <button
        class="btn btn-outline-primary w-100"
        (click)="redirectTo('/dashboard/inscription-conduite')"
      >
        {{"Yes, I am re-enrolling" | translate}}
      </button>
    </p>
    <p>
      <button
        class="btn btn-primary w-100"
        (click)="redirectTo('/dashboard/absence-conduite-justification')"
      >
        {{"I would like to justify my absence" | translate}}
      </button>
    </p>
  </div>

  <div *ngIf="selectedTodo == 'composition-code'">
    <h6 class="my-4">
      Votre absence à l'épreuve de code, session de {{dossier_session?.examen?.mois}} {{dossier_session?.examen?.annee}} n'a pas été justifiée. Vous êtes donc assujettie à nouveau
      au paiement des frais de dossier.
    </h6>

    <p class="my-3">
      <button class="btn btn-outline-primary w-100" (click)="redirectTo('/dashboard/inscription-au-permis')">
        {{"Yes, I am re-enrolling" | translate}}
      </button>
    </p>
    <p>
      <button class="btn btn-primary w-100" (click)="redirectTo('/dashboard/absence-code-justification')">
        {{"I would like to justify my absence" | translate}}
      </button>
    </p>
  </div>



  <div *ngIf="showNavigation">
    <p class="mt-3 d-flex justify-content-between">
      <button class="btn btn-primary" (click)="gotoPage('todo-action')">
        <app-icon icon="arrow-left"></app-icon>
        {{"Previous" | translate}}
      </button>
      <button class="btn btn-primary ms-3" (click)="handle($event)">
        {{"Next" | translate}} <app-icon icon="arrow-right"></app-icon>
      </button>
    </p>
  </div>
</div>
