<app-blue-aside-entreprise>
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
    <div class="login-desc h4 text-center my-3">
      Suivi de mes demandes
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="col-lg-9">
    <ng-container>
      <h3 class="title" style="margin-left: 30px">Suivre mes demandes</h3>
      <div *ngIf="demandes.length == 0">Aucune demande trouvée</div>
      <div *ngIf="demandes.length > 0">
        <ng-container *ngFor="let demande of demandes; let i = index">
          <!-- <ng-container *ngIf="demande.service == 'Examinateur'"> -->
            <div class="bg-white border rounded mb-2">
              <!-- <ng-container *ngFor="let headParcours of latestParcours"> -->
                <div class="card-header p-2 rounded bg-light d-flex justify-content-between align-items-center"
                  >
                  <div>
                    <h6 class="text-primary">Demande du {{
                    demande.date_compo | date : "dd MMMM yyyy" : "" : "fr"
                    }}/ Permis: {{demande.categorie_permis?.name}}/ {{demande.annexe?.name}}</h6>

                    <!-- <span class="text-muted small">{{
                      headParcours.created_at | date : "dd MMMM yyyy" : "" : "fr"
                      }}</span> -->
                  </div>

                  <!-- <ng-container *ngIf="
                          headParcours.slug == 'demande-examinateur-rejected' &&
                          !!headParcours.model_info &&
                          headParcours.model_info.date_correction == null
                        ">
                    <a [routerLink]="[
                            '/devenir-examinateur/rejets',
                            headParcours.model_info.id
                          ]" type="button" class="btn btn-outline-primary ms-3">
                      Corriger ma demande
                    </a>
                  </ng-container> -->

                  <div class="d-flex justify-content-between align-items-center" role="button" (click)="openCard(i)">
                    <ng-container *ngIf="demande.parcours[0].slug == 'demande-recrutement'">
                      <span [class]="'badge p-2 ' + 'bg-info'"> En cours de création </span>
                    </ng-container>
                    <ng-container *ngIf="demande.parcours[0].slug == 'send-recrutement'">
                      <span [class]="'badge p-2 ' + 'bg-warning'"> En attente de validation </span>
                    </ng-container>
                    <ng-container *ngIf="demande.parcours[0].slug == 'demande-recrutement-rejected'">
                      <span [class]="'badge p-2 ' + 'bg-danger'"> Rejetée </span>
                    </ng-container>

                    <ng-container *ngIf="demande.parcours[0].slug == 'demande-recrutement-validate'">
                      <span [class]="'badge p-2 ' + 'bg-success'"> Validée </span>
                    </ng-container>
                    <ng-container *ngIf="demande.parcours[0].slug == 'send-recrutement-convocation'">
                      <span [class]="'badge p-2 ' + 'bg-info'">Convocations disponibles</span>
                    </ng-container>
                    <ng-container *ngIf="demande.parcours[0].slug == 'send-recrutement-resultat'">
                      <span [class]="'badge p-2 ' + 'bg-info'">Résultats disponibles</span>
                    </ng-container>
                    <ng-container *ngIf="demande.parcours[0].slug == 'correction-recrutement'">
                      <span [class]="'badge p-2 ' + 'bg-warning'"> En cours </span>
                    </ng-container>
                    <app-icon icon="chevron-right" *ngIf="cardOpendedIndex !== i" classe="fw-bolder ms-3"></app-icon>
                    <app-icon icon="chevron-down" *ngIf="cardOpendedIndex === i" classe="fw-bolder ms-3"></app-icon>
                  </div>
                </div>
              <!-- </ng-container> -->
              <ng-container *ngIf="cardOpendedIndex === i">
                <div class="m-3 small text-small" *ngFor="let item of demande.parcours; let authIndex = index">
                  <div class="card-body">
                    <!-- <div class="form-check">
                      <input class="form-check-input" type="radio" checked />
                      <label class="form-check-label text-primary fw-semibold">
                        <ng-container *ngIf="item.slug == 'demande-recrutement'">
                          Création de la demande
                        </ng-container>
                        <ng-container *ngIf="item.slug == 'send-recrutement'">
                          Création de la demande
                        </ng-container>
                        <ng-container *ngIf="item.slug == 'demande-recrutement-rejected'">
                          Demande de devenir examinateur rejetée
                        </ng-container>

                        <ng-container *ngIf="item.slug == 'demande-recrutement-validate'">
                          Demande de devenir examinateur validée
                        </ng-container>
                        <ng-container *ngIf="item.slug == 'correction-demande'">
                          Correction soumise avec succès
                        </ng-container>
                      </label>
                      <br />
                      <small class="text-muted small">{{
                        item.created_at | date : "dd MMMM yyyy" : "" : "fr"
                        }}</small>
                    </div> -->
                    <div class="bg-light p-3 rounded col-sm-11 ms-auto mb-3">
                      <div [innerHTML]="item.message"></div>
                      <div class="mt-2">
                        <ng-container *ngIf="item.slug == 'send-recrutement-convocation'">
                          <a type="button" [routerLink]="['/entreprise/session/',item.entreprise_id]" class="btn btn-primary ms-3">Accéder à la session
                          </a>
                        </ng-container>
                        <ng-container *ngIf="
                                item.slug == 'demande-recrutement-rejected' &&
                                item.model_info.date_correction == null
                              ">
                          <a type="button" [routerLink]="[
                                  '/entreprise/sessions'
                                ]" class="btn btn-primary ms-3">Accéder aux sessions
                          </a>
                        </ng-container>
                        <ng-container *ngIf="item.slug == 'send-recrutement-resultat'">
                          <a type="button" [href]="base_url('generate-resultats/' + item.recrutement_id)" target="_blank" class="btn btn-primary ms-3">Télécharger
                          </a>
                        </ng-container>
                      </div>
                      <div class="mt-2">
                        <small class="text-muted small">{{
                          item.created_at | date : "dd MMMM yyyy" : "" : "fr"
                          }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          <!-- </ng-container> -->
        </ng-container>
      </div>
    </ng-container>

  </app-blue-aside-right>
</app-blue-aside-entreprise>
