<div class="md-loader-container" style="display: none" id="global-loader">
  <div class="col-6 col-sm-5 col-md-4 col-lg-3 p-2 md-loader">
    <span class="loader-text me-2" [innerHTML]="message"> </span>
    <img src="assets/images/loading.gif" width="20" alt="" />
  </div>
</div>
