.md-loader-container {
  display: flex;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 3000;

  .md-loader {
    background-color: #e4efec;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    box-shadow: 0 3px 5px rgba($color: #000000, $alpha: .10);
  }
}