.single-inputs {
  display: flex;
  gap: 5px;
}

@media (min-width: 768px) {
  .single-inputs {
    display: flex;
    gap: 10px;
  }
}

input {
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
  color: rgba(49, 49, 49, 0.4);


  &.is-invalid {
    border: 1px solid var(--bs-danger);
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

}

input[type=number] {
  appearance: textfield;
}

@media only screen and (max-width: 600px) {
  input {
    border-bottom: 3px solid rgba(49, 49, 49, 0.4);
    border-radius: 0;

    &:focus {
      border-color: rgba(49, 49, 49, 0.4);
      border-radius: 0;
    }

    &.is-invalid {
      border-bottom: 1px solid var(--bs-danger);
    }

  }
}

@media screen and (min-width: 610px) {
  input {
    border: 2px solid rgba(49, 49, 49, 0.4);
  }
}