<div class="card border" ng-window>
  <ng-content select="app-ng-window-header"></ng-content>
  <div class="card-body">
    <ng-content select="app-ng-window-page"></ng-content>
  </div>
  <ng-content select="app-ng-window-footer"></ng-content>
  <ng-content></ng-content>
</div>
