<nav class="bg-light top-navbar sticky-top py-2 py-lg-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-md-3">
        <a class="navbar-brand" routerLink="/moniteur">
          <img src="assets/images/logo.png" class="img-fluid" alt="logo" />
        </a>
      </div>
      <div class="col col-md">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a
              class="btn border-0 d-lg-none btn-primary"
              href="/moniteur/connexion"
            >
              <app-icon icon="person"></app-icon>
            </a>
          </li>
          <li *ngIf="!userConnected()" class="nav-item d-none d-lg-block">
            <a
              class="btn btn-outline-primary ms-3"
              routerLink="/moniteur/connexion"
              >{{ "Sign in" | translate }}</a
            >
          </li>

          <li *ngIf="!userConnected()" class="nav-item">
            <a class="btn btn-primary ms-3" routerLink="/devenir-moniteur">
              Devenir moniteur
            </a>
          </li>

          <li *ngIf="userConnected()" class="nav-item d-lg-block">
            <a
              class="btn btn-outline-primary ms-3"
              routerLink="/suivre-moniteur"
            >
              <span class="d-none d-md-inline">Suivre ma demande</span>
              <span class="d-md-none">
                <app-icon icon="folder2-open"></app-icon>
              </span>
            </a>
          </li>
          <li *ngIf="userConnected()" class="nav-item d-none d-lg-block">
            <a class="btn btn-danger ms-3" routerLink="/moniteur/logout">
              <span class="d-none d-md-inline">Déconnexion</span>
              <span class="d-md-none">
                <app-icon icon="power"></app-icon>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet> </router-outlet>

<app-footer> </app-footer>
