<app-blue-aside>
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="-md-10">
  </app-blue-aside-right>
</app-blue-aside>
