<div class="blue-side-container">
  <div class="row h-100 m-0">
    <div class="col-md-5 d-none d-md-block bg-primary px-5 order-1 order-md-0">
      <ng-content select="app-blue-aside-left"></ng-content>
    </div>
    <div class="col-md-7 scrollable-content">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div class="row header justify-content-between align-items-center bg-light">
          <div class="col-md-4 col-12">
            <a href="/moniteur"><img src="assets/images/logo.png" alt="" class="img-fluid" /></a>
          </div>
          <!-- <div class="col-3"> -->
          <!-- <select
              class="form-control ms-1 bg-transparent border-0"
              #langselect
              (change)="languageChange(langselect.value)"
              [(ngModel)]="lang"
            >
              <option *ngFor="let lang of langs" [value]="lang.id">
                {{ lang.name }}
              </option>
            </select> -->
          <!-- </div> -->
          <div class="col-md-8 col-12 text-md-end mb-3 mb-md-0">
            <div class="d-flex justify-content-end">
              <!-- <a
                *ngIf="userConnected()"
                type="button"
                class="btn btn-outline-primary ms-3"
                (click)="goto('services/suivre-dossier')"
              >
                <span class="d-md-none">
                  <app-icon icon="folder2-open"></app-icon>
                </span>
                <span class="d-md-inline">Suivre ma demande</span>
              </a>
              <a
                *ngIf="userConnected()"
                class="btn btn-primary ms-3"
                (click)="goto('/dashboard')"
              >
                <span class="d-none d-md-inline">
                  {{ "Dashboard" | translate }}
                </span>
                <span class="d-md-none">
                  <app-icon icon="person"></app-icon>
                </span>
              </a> -->
              <a *ngIf="userConnected()" class="btn btn-danger ms-3" (click)="goto('moniteur/logout')">
                <span class="d-none d-md-inline">Déconnexion</span>
                <span class="d-md-none">
                  <app-icon icon="power"></app-icon>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="py-3">
          <ng-content></ng-content>
        </div>

        <div class="row footer bg-light text-center py-2">
          <h6>{{ "Republic of Benin" | translate }}</h6>
          <p>
            {{
            "Ministry of Environment and Transport Responsible for Sustainable Development"
            | translate
            }}
          </p>
          <p>{{ "All Rights Reserved 2023" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
