<div class="bg-primary-gradient py-5 welcome">
  <div class="container">
    <div class="col-lg-10 mx-auto">
      <div
        class="row flex-md-row-reverse align-items-center justify-content-between"
      >
        <div class="col-10 col-sm-7 col-md-3 mx-auto">
          <img
            src="assets/images/login-left.png"
            class="d-block mx-lg-auto img-fluid"
            loading="lazy"
          />
        </div>
        <div class="col-md-6">
          <p class="lead text-light fw-semibold">
            Bienvenue sur votre espace d'enrôlement de moniteurs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
