<app-blue-aside-entreprise>
  <app-blue-aside-left>
    <div class="col-md-8">
      <img src="assets/images/login-left.png" alt="" class="img-fluid" />
    </div>
    <div class="login-desc h4 text-center my-3">
      Votre espace de gestion de enrôlement de conducteurs
    </div>
  </app-blue-aside-left>
  <app-blue-aside-right col="col-md-11">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex justify-content-start">
          <button
            class="btn border btn-icons btn-danger"
            [routerLink]="'/entreprise/sessions/'"
          >
            <app-icon icon="arrow-left"></app-icon>
            Retour
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex justify-content-end">
          <button
            class="btn border btn-icons btn-primary"
            (click)="openModal('store')"
          >
            <app-icon icon="plus"></app-icon>
            Inscrire un candidat
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="bg-table-primary">
            <th scope="col">Date inscription</th>
            <th scope="col">NPI</th>
            <th scope="col">Nom et prénoms</th>
            <th scope="col">Langue</th>
            <th scope="col text-end">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="onLoadCandidat">
          <tr>
            <td colspan="12" class="py-3 text-center">
              <div class="p-3 bg-light text-dark rounded col-md-4 mx-auto">
                Chargement en cours
              </div>
            </td>
          </tr>
        </tbody>
        <tbody
          *ngFor="
            let item of candidats
              | paginate
                : {
                    itemsPerPage: 10,
                    currentPage: pageNumber,
                    totalItems: paginate_data?.total
                  };
            let i = index
          "
        >
          <tr>
            <td scope="row">
              <small class="text-muted">{{
                item.created_at | hdate : false
              }}</small>
            </td>
            <td>{{ item.npi }}</td>
            <td>
              {{ item.candidat_info?.nom }} {{ item.candidat_info?.prenoms }}
            </td>
            <td>{{ item.langue?.name }}</td>
            <td>
              <div class="d-flex justify-content-between">
                <div class="btn-actions">
                  <span *ngIf="dossierIndex !== i">
                    <app-icon
                      icon="eye"
                      [size]="16"
                      classe="text-primary"
                      (click)="showDossier(i)"
                    ></app-icon
                  ></span>
                  <span *ngIf="dossierIndex === i">
                    <app-icon
                      icon="eye-slash"
                      [size]="16"
                      classe="text-primary"
                      (click)="showDossier(i)"
                    ></app-icon
                  ></span>
                  <a
                    *ngIf="item.session?.convocation"
                    [href]="base_url('generate-convocation/' + item.id)"
                    target="_blank"
                    ><app-icon
                      icon="download"
                      [size]="16"
                      title="Télécharger la convocation"
                      classe="text-info"
                    ></app-icon
                  ></a>

                  <app-icon
                    icon="pencil"
                    [size]="16"
                    (click)="edit(item.id)"
                    classe="text-warning"
                  ></app-icon>
                  <app-delete
                    (canDelete)="destroy($event)"
                    [activateId]="item.id"
                  ></app-delete>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="dossierIndex === i">
            <td colspan="12">
              <app-candidat-info [data]="item"></app-candidat-info>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!onLoadCandidat && !candidats.length">
          <tr>
            <td colspan="12" class="py-3 text-center">
              Aucun candidat inscrit
            </td>
          </tr>
        </tbody>
      </table>

      <div class="card-body">
        <app-pagination
          *ngIf="paginate_data"
          [total]="paginate_data.total"
          (pageChange)="paginate($event)"
          [pageNumber]="pageNumber"
        ></app-pagination>
      </div>
    </div>
  </app-blue-aside-right>
</app-blue-aside-entreprise>

<app-modal [action]="modalId" size="modal-md">
  <div heading class="fw-semibold text-primary text-center">
    <span [innerHTML]="titre_formulaire"></span>
  </div>

  <form action="" method="post" quickv id="candidat-form">
    <div class="row mb-2">
      <div class="col-sm">
        <div class="mb-3">
          <label for="" class="mb-1 d-block">
            <div class="row justify-content-between">
              <div class="col-6 required">NPI</div>
              <div class="col-6 text-end">
                <span info="Le npi du candidat">
                  <app-icon icon="info" [size]="14"></app-icon>
                </span>
              </div>
            </div>
          </label>
          <div class="input-grouped">
            <input
              qv-rules="required"
              required
              type="text"
              name="npi"
              qv-name="nom"
              placeholder="Taper le npi"
              class="form-control"
              [(ngModel)]="candidat.npi"
              qv-messages="Ce champ est obligatoire"
            />
          </div>
          <div qv-feedback="npi"></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="mb-3">
          <label for="" class="mb-1 d-block">
            <div class="row justify-content-between">
              <label class="col-10 required" for="categorie_permis_id"
                >Langue</label
              >
              <div class="col-2 text-end">
                <span info="Sélectionner une langue">
                  <app-icon icon="info" [size]="14"></app-icon>
                </span>
              </div>
            </div>
          </label>
          <div class="mb-3">
            <select
              class="form-select"
              name="langue_id"
              [(ngModel)]="candidat.langue_id"
              qv-rules="required"
              required
              qv-messages="Ce champ est obligatoire"
            >
              <option value="" selected>
                Cliquer pour sélectionner la langue
              </option>
              <option *ngFor="let lg of langues" value="{{ lg.id }}">
                {{ lg.name }}
              </option>
            </select>
          </div>
          <div qv-feedback="langue_id"></div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm">
        <h6 [innerHTML]="piecepermis.label" class="mb-2"></h6>

        <ng-container *ngIf="!candidat.permis_file">
          <app-input-file
            accept=".png,.jpg"
            (changeEvent)="onFilePermisPrealableChange($event)"
          ></app-input-file>
        </ng-container>
        <ng-container *ngIf="candidat.permis_file">
          <app-input-file
            accept=".png,.jpg"
            (changeEvent)="onFilePermisPrealableChange($event)"
            [selectedImage]="asset(candidat.permis_file)"
            placeholder="Modifier l'image existante"
          ></app-input-file>
        </ng-container>
      </div>
      <div class="col-sm">
        <div class="mb-3">
          <label for="" class="mb-1 d-block">
            <div class="row justify-content-between">
              <div class="col-10 required">Numéro permis</div>
              <div class="col-2 text-end">
                <span info="Le numéro du permis">
                  <app-icon icon="info" [size]="14"></app-icon>
                </span>
              </div>
            </div>
          </label>
          <div class="input-grouped">
            <input
              qv-rules="required"
              required
              type="text"
              name="num_permis"
              qv-name="nom"
              placeholder="Taper le numéro du permis"
              class="form-control"
              [(ngModel)]="candidat.num_permis"
              qv-messages="Ce champ est obligatoire"
            />
          </div>
          <div qv-feedback="num_permis"></div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm">
        <button
          class="btn btn-primary w-100 justify-content-center"
          qv-submit
          (click)="save($event)"
          [disabled]="isPostingCandidat"
        >
          Enregistrer

          <span *ngIf="isPostingCandidat">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Loading...</span>
          </span>
        </button>
      </div>
    </div>
  </form>
</app-modal>
