 .btn-primary {
   color: white !important;
 }

 .dropdown-menu {
   right: 0;

   .dropdown-item {
     white-space: normal;
   }
 }

 .b-divider {
   height: 3rem;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .75em 1.75em rgba(0, 0, 0, 0.491), inset 0 .125em .5em rgba(0, 0, 0, 0.445);
 }


 .nav-scroller {
   position: relative;
   z-index: 2;
   height: 2.75rem;
   overflow-y: hidden;
 }

 .nav-scroller .nav {
   display: flex;
   flex-wrap: nowrap;
   padding-bottom: 1rem;
   margin-top: -1px;
   overflow-x: auto;
   text-align: center;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }

 .form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, .1);
   border-color: rgba(255, 255, 255, .1);
 }

 .form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
 }

 .dropdown-menu {
   right: 0;

   .dropdown-item {
     white-space: normal;
   }
 }