<div class="service-card" role="button" *ngIf="prestation">
  <div class="img-box mb-3">
    <ng-container *ngIf="prestation.slug === 'inscription-examen'; else otherImage">
      <img [src]="prestation.image" alt="" (click)="demande(prestation.slug)" />
    </ng-container>
    <ng-template #otherImage>
      <a *ngIf="userConnected()" [routerLink]="'/services/' + prestation.slug">
        <img [src]="prestation.image" alt="" />
      </a>
      <a *ngIf="!userConnected()" [routerLink]="'connexion'">
        <img [src]="prestation.image" alt="" />
      </a>
    </ng-template>
  </div>
  <div class="service-title" [innerHTML]="prestation.title"
    *ngIf="prestation.slug === 'inscription-examen'; else otherLink" (click)="demande(prestation.slug)"></div>
  <ng-template #otherLink>
    <div *ngIf="userConnected()" class="service-title" [innerHTML]="prestation.title" [routerLink]="'/services/' + prestation.slug"></div>
    <div *ngIf="!userConnected()" class="service-title" [innerHTML]="prestation.title"
      [routerLink]="'connexion'"></div>
  </ng-template>
  <p class="mt-3">
    <ng-container *ngIf="prestation.slug !== 'suivre-dossier'; else suivreDossier">
      <a [routerLink]="'/services/' + prestation.slug" class="btn btn-more d-block rounded-0">
        {{ "Learn more" | translate }}
      </a>
    </ng-container>
    <ng-template #suivreDossier>
      <br /><br />
    </ng-template>
    <ng-content></ng-content>
  </p>
</div>
