.number-circle {
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  background-color: #EEF2F8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fill {
    background-color: var(--bs-primary);
    color: #EEF2F8;
  }

}

.number-label {
  font-weight: 600;
  font-size: 12px;
  padding: 15px, 0, 8px, 0;
}