<div class="bg-modal p-3 py-4 rounded shadow-sm" *ngIf="data && candidat">
  <div class="border p-1 rounded-3">
    <div class="d-flex">
      <div class="avatar">
        <img [src]="candidat.avatar" class="img-fluid rounded-3" alt="" />
      </div>

      <div class="d-flex flex-column justify-content-between ms-2">
        <h5 class="pt-2" style="color: #313131; font-size: 22px; font-weight: 600">
          {{ candidat.nom }} {{ candidat.prenoms }}
        </h5>
        <h6 class="pb-2" style="color: #575656; font-size: 16px">
          NPI : {{ candidat.npi }}
        </h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h5 class="my-3">Information sur le permis</h5>
      <div class="card bg-transparent border">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <div class="fw-semibold h6">Catégorie du permis</div>
                {{ data.categorie_permis?.name }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <div class="fw-semibold h6">Numéro du permis</div>
                {{ data.num_permis }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="data.permis_file">
              <div class="mb-3">
                <div class="fw-semibold h6">Copie du permis</div>
                <div class="prev-eye col-md-9 col-xl-7" (click)="openSuiviModal(data.permis_file)">
                  <div class="overlay"></div>
                  <app-icon icon="eye"></app-icon>
                  <img [src]="assets(data.permis_file)" alt="Aperçu de l'image" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <h5 class="my-3">Autres informations</h5>
      <div class="card bg-transparent border">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <div class="fw-semibold h6">E-mail</div>
                {{ data.candidat_info?.email }}
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <div class="fw-semibold h6">Langue</div>
                {{ data.langue?.name }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <div class="fw-semibold h6">Annexe</div>
                {{ data.annexe?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [id]="'suivi-' + data.id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content rounded-3">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img [src]="assets(previewUrl)" class="w-block img-fluid mx-auto" />
      </div>
    </div>
  </div>
</div>
